@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
  @else if $class == xl {
    @media (min-width: 1400px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

//Theme Colors
$darkGrey: #050910; //Dark Grey
$darkNavy: #0f1e36; //Dark Navy
$lightestBlue: #4fc3f7; //Lightest Blue
$lightBlue: #346abc; //Light Blue
$darkBlue: #295394; //Dark Blue
$mediumGreenWash: #429f8c; //Medium Green Wash
$brightGreen: #4dc856; //Bright Green
